@use "../../styles/abstracts/mixin" as *;
@use "../../styles/abstracts/variables" as *;

.insights {
  margin: 1rem;
  background-color: $color-primary;
  padding: 8rem 4rem;
  border-radius: 30px;

  @include respond(sm) {
    padding: 2rem 1rem;
  }

  .insights__title {
    text-align: center;
    font-size: 70px;
    letter-spacing: -4px;
    @include respond(sm) {
      font-size: 35px;
      letter-spacing: -1px;
    }
  }

  .blogFlex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .insights__flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .insightCard {
      //   background-color: #ffffff;
      padding: 1.5rem;
      border-radius: 1rem;
      //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      max-width: 320px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        // box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
      }

      &__img {
        width: 100%;
        height: auto;
        border-radius: 0.75rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      &__heading {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
        color: #333;
      }

      &__btn {
        background-color: transparent;
        color: $color-text-primary;
        padding: 0.6rem 1.2rem;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }
}
