@use "../../styles/abstracts/mixin" as *;
@use "../../styles/abstracts/variables" as *;

.processSection {
  margin: 4rem;
  @include respond(sm) {
    padding: 1rem;
    margin: 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #bcbcbc7a;
  background-color: $color-primary;
  border-radius: 30px;
}

.processImageCompnent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(sm) {
    // flex-direction: column;
  }
  @include respond(md) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.processContainer {
  border-bottom: 1px solid #bcbcbc7a;

  @include respond(sm) {
    .processContainer {
      width: 100%;
    }
  }
  @include respond(md) {
    .processContainer {
      width: 30%;
    }
  }
  .card {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    @include respond(sm) {
      padding: 3rem 1rem;
      gap: 1rem;
    }
    @include respond(md) {
      padding: 3rem 1rem;
      gap: 1rem;
    }
  }

  .borderRight {
    border-right: 1px solid #bcbcbc7a;
    @include respond(sm) {
      .border-right {
        border-right: 0px solid transparent;
      }
    }
  }

  .processImage {
    width: 70%;
  }

  .number {
    width: 37px;
    height: 37px;
    border-radius: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $color-text-primary;
  }

  .title {
    text-align: center;
  }
  .desc {
    text-align: center;
  }
}

.PrcessCta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2rem;

  .heroCtaButtons {
    @include flex-between;
    gap: 20px;

    @include respond(sm) {
      display: flex;
      flex-direction: column;
    }
  }

  .cta {
    padding: 10px 20px;
    border: 2px solid $color-text-primary;
    border-radius: 7px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    color: $color-text-primary;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      cursor: pointer;
      background-color: $color-text-primary;
      color: $color-secondary;
    }

    .ctaIcon {
      &:hover {
        color: $color-secondary;
      }
    }
  }

  .demo {
    padding: $spacing-sm;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    color: $color-text-primary;
    &:hover {
      cursor: pointer;
    }
  }

  .heroCtaButtons {
    @include flex-between;
    gap: 20px;

    @include respond(sm) {
      display: flex;
      flex-direction: column;
    }
  }

  .cta {
    padding: 10px 20px;
    border: 2px solid $color-text-primary;
    border-radius: 7px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    color: $color-text-primary;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      cursor: pointer;
      background-color: $color-text-primary;
      color: $color-secondary;
    }

    .ctaIcon {
      &:hover {
        color: $color-secondary;
      }
    }
  }

  .demo {
    padding: $spacing-sm;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    color: $color-text-primary;
    &:hover {
      cursor: pointer;
    }
  }

  @include respond(sm) {
    .reviewText {
      text-align: center;
    }
  }
}
