@use "../../styles/abstracts/mixin" as *;
@use "../../styles/abstracts/variables" as *;

.hero {
  padding: 4rem 2rem;
  background-color: $color-primary;
  color: $color-text-primary;

  h1 {
    font-size: 2.5rem;
    font-family: $font-heading;
  }

  // .cta {
  //   @include button-style($color-text-primary, white);
  // }
}
