@use "../../styles/abstracts/mixin" as *;
@use "../../styles/abstracts/variables" as *;

.testimonialSection {
  padding: 7rem 13rem;
  text-align: center;

  @include respond(sm) {
    padding: 2rem 3rem;
  }
  @include respond(md) {
    margin-top: 3rem;
    padding: 2rem 3rem;
  }

  .testimonialHeading {
    font-size: 4rem;
    font-family: $font-heading;
    line-height: 3.5rem;
    @include respond(sm) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }

  .slide {
    min-height: 370px;

    @include respond(sm) {
      horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom, -20px);
        top: var(--swiper-pagination-top, auto);
        left: 0;
        width: 100%;
      }

      min-height: 450px;
    }
  }

  .testimonialImage {
    width: 8%;
    margin-top: 2rem;
    border-radius: 50%;
    @include respond(sm) {
      width: 25%;
    }
  }

  .testimonialQuote {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 25px;
    font-family: $font-body;

    @include respond(sm) {
      margin-top: 1.5rem;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .testimonialName {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}
