@use "../../styles/abstracts/mixin" as *;
@use "../../styles/abstracts/variables" as *;

.navContainer {
  padding: $spacing-md;
  background-color: $color-primary;
  position: relative;
  z-index: 100;
}
.mobileMenu {
  display: none;

  @include respond(sm) {
    @include flex-between;
    width: 100%;
    padding: $spacing-sm $spacing-md;
  }
}
.desktopOnly {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(sm) {
    display: none;
  }
}

.navLinks {
  display: flex;
  gap: $spacing-lg;
  list-style: none;

  @include respond(sm) {
    background-color: $color-primary;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 90px;
    font-size: 20px;
    padding: 0 $spacing-lg;
  }

  a {
    text-decoration: none;
    color: $color-black;
    font-weight: bolder;
    transition: color 0.2s;

    &:hover {
      color: $color-text-muted;
    }
  }
}

// .active {
//   max-height: 500px;
//   opacity: 1;
//   visibility: visible;
// }

.navActions {
  display: flex;
  gap: 1rem;
}

.navActions {
  display: flex;
  align-items: center;
  gap: $spacing-sm;

  button {
    background: $color-text-primary;
    color: $color-secondary;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: $spacing-sm $spacing-md;
    border-radius: 10px;
    font-weight: bold;
  }
}

.menuToggle {
  padding: $spacing-md;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: $color-text-primary;
}
